@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins;
  background: #f0f0f0;
}




.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
}

/* sign-up & login  */
.login-signup-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.login-signup {
  text-align: center;
  padding-bottom: 30px;
}

.welcome {
  font-weight: 600;
  font-size: 26px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 16px;
}

.login-signup p:nth-child(2) {
  margin-bottom: 40px;
}

input {
  width: 306px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
  padding: 5px 14px;
  border: none;
  outline: none;
  font-size: 13px;
  font-family: Poppins;
  box-shadow: 0px 0px 0px 1px #e0e0e0;
  transition: ease-in-out box-shadow .2s;

}

input:hover, input:focus {
  box-shadow: 0px 0px 0px 4px #c4e7e5
}
.btn {
  font-family: Poppins;
  width: 266px;
  height: 38px;
  background: #50C2C9;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 40px;
  cursor: pointer;
  transition: ease-in-out background .2s;
}
.btn:hover{
  background: #46a8ad;
}


.login-signup p:last-child {
  font-size: 14px;
  margin-top: 20px;

}

a {
  text-decoration: none;
}

.login-signup-link {
  color: #24D0C6
}






/* home page  */
.home-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container {
  display: grid;
  width: 80%;
  grid-template-columns: 390px 1fr;
  margin: 0 auto;
  padding-bottom: 30px;
  grid-column-gap: 30px;
}

.home-img{
  width: 100%;
}
.home-details{
  margin-top: 15%;
  text-align: center;
}
.home-text{
  font-size: 14px;
line-height: 24px;
margin-top: 20px;


color: #5B5B5B;
}
.btn2 {
  width: 170px;
  margin-right: 20px;
}

